[Pandas Series](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

Syntax: </br></br>
pandas.Series(data=None, index=None, dtype=None, name=None, copy=None, fastpath=False)

In [14]:
# Import the pandas package

import pandas as pd

In [15]:
# Define Index List

index_values = [0,1,2,3,4,5]

In [23]:
# Define the Data for Series

data_list = [10,20,30,40,50,60]

In [24]:
# Create a Series

series = pd.Series(data=data_list, index=index_values)

In [21]:
series

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [27]:
# Get the value of particular series element

series[3]

40

In [28]:
# Example 

months = ["January","February","March","April","May","June","July","August","September","October","November","December"]

no_of_fbusers = ["2032423424","2032423424","2032423424","2032423424","2032423424","2332423424","4452423424","242423424","564523424","2032423424","2223323424","203453424"]

In [29]:
import pandas as pd

In [30]:
fb_userseries = pd.Series(data=no_of_fbusers, index=months)

In [31]:
fb_userseries

January      2032423424
February     2032423424
March        2032423424
April        2032423424
May          2032423424
June         2332423424
July         4452423424
August        242423424
September     564523424
October      2032423424
November     2223323424
December      203453424
dtype: object

In [32]:
type(fb_userseries)

pandas.core.series.Series

In [38]:
fb_userseries['June']

'2332423424'

In [37]:
fb_userseries[['August','June']]

August     242423424
June      2332423424
dtype: object

In [39]:
fb_userseries

January      2032423424
February     2032423424
March        2032423424
April        2032423424
May          2032423424
June         2332423424
July         4452423424
August        242423424
September     564523424
October      2032423424
November     2223323424
December      203453424
dtype: object

In [40]:
fb_userseries = pd.Series(data=no_of_fbusers, index=months, dtype='float')

In [41]:
fb_userseries

January      2.032423e+09
February     2.032423e+09
March        2.032423e+09
April        2.032423e+09
May          2.032423e+09
June         2.332423e+09
July         4.452423e+09
August       2.424234e+08
September    5.645234e+08
October      2.032423e+09
November     2.223323e+09
December     2.034534e+08
dtype: float64

In [44]:
fb_userseries = pd.Series(data=no_of_fbusers, index=months, dtype='g')

In [45]:
fb_userseries

January      2.032423e+09
February     2.032423e+09
March        2.032423e+09
April        2.032423e+09
May          2.032423e+09
June         2.332423e+09
July         4.452423e+09
August       2.424234e+08
September    5.645234e+08
October      2.032423e+09
November     2.223323e+09
December     2.034534e+08
dtype: float64

Python Dictionary to Series

When you convert the Python Dictionary to Series, Key becomes 'index' and Value becomes the 'Data'

In [47]:
sample_dict = {'Name':'Ashish', 'Company':'Eaton', 'Role':'Manager'}

In [51]:
dict_series = pd.Series(data=sample_dict)

In [52]:
dict_series['Name']

'Ashish'